.auth-component {
  /* background: url('../assets/images/bg.png') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.login-form {
  margin-top: 15px;
}

.login-faill {
  text-align: center;
  margin-bottom: 20px;
}
